body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EEE;
    font-family: sans-serif;
    font-weight: normal;
}

section {
    margin-top: 40px;
}

#pricing-title {
    text-align: center;
}

#pricing-title h1 {
    font-weight: bold;
    font-size: 3rem;

}

#pricing-title p {
    margin-top: 20px;
    color: #979797;
    font-size: 1.2rem;
}

#pricing-options {
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-option {
    color: #afafaf;
    border: 0px solid;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #e0e4ea;
    width: 300px;
    background-color: #FFF;
}

#pricing-options>div:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

#pricing-options>div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.pricing-option button {
    cursor: pointer;
    color: white;
    border-radius: 8px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #1f2438;
    border: none;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.dollar {
    font-size: 3rem;
    font-weight: bold;
}

hr {
    height: 2px;
    border: none;
    background-color: hsl(0deg 0% 97%);
}

.feature {
    margin: 20px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature svg {
    height: 20px;
    width: 20px;
}

.feature svg path {
    stroke: #17d917;
}

#highlighted-price {
    box-shadow: 10px 20px 10px 20px hsl(228deg 19% 95%);
    background-color: #1f2438;
    color: #b9bccb;
    border: 4px solid #FFF;
    height: 400px;
    border-radius: 15px;
}

#highlighted-price button {
    background-color: #707df0;
}

#pop {
    display: flex;
    justify-content: right;

}

#pop a {
    padding: 5px 10px;
    background-color: #56cd9d;
    color: white;
    border-radius: 20px;
    height: 20px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}